@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mountains+of+Christmas:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}

.zoom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9 !important;
}
.text-grad {
  background: linear-gradient(0deg, #fcab31 0.3%, #ac6b13 84.31%, #9d5e0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.begin:hover {
  color: rgba(255, 255, 255, 0.911);
  scale: 90%;
}
main {
  background-image: linear-gradient(
      40deg,
      black,
      rgba(0, 0, 0, 0.753),
      rgba(0, 0, 0, 0.322),
      rgba(0, 0, 0, 0.753),
      black
    ),
    url(./assets/bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.44;
}

.bg-night {
  background-color: linear-gradient(to bottom, #001f3f 0%, #000000 100%);
}
/*.action-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    246.77deg,
    rgba(0, 0, 0, 0.8) 6.58%,
    rgba(1, 1, 1, 0.68) 27.86%,
    rgba(2, 2, 2, 0.56) 49.13%,
    rgba(3, 3, 3, 0.68) 69.95%,
    rgba(4, 4, 4, 0.8) 90.77%
  );
} */

.playfair {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}
.combo {
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.button-bg {
  background: rgb(171, 30, 32);
  background: linear-gradient(
    180deg,
    rgba(171, 30, 32, 1) 0%,
    rgba(171, 30, 32, 1) 45%,
    rgba(171, 30, 32, 1) 55%,
    rgba(149, 26, 27, 1) 60%,
    rgba(149, 26, 27, 1) 77%
  );
}

.gift-hold {
  box-shadow: 0 0 0 5px transparent;
  animation:  rotate 3s linear infinite;
}

@keyframes scale {
  0% {
    scale: 100%;
  }
  50% {
    scale: 100.7%;
  }
  100% {
    scale: 100%;
  }
}

@keyframes rotate {
  0% {
    rotate: 0.8deg;
  }
  50% {
    rotate: -0.8deg;
  }
  100% {
    rotate: 0.8deg;
  }
}

@keyframes moveBorder {
  0% {
    box-shadow: 3px 0 0 0 red, 0 3px 0 0 transparent, -3px 0 0 0 transparent,
      0 -3px 0 0 transparent;
  }
  25% {
    box-shadow: 3px 0 0 0 transparent, 0 3px 0 0 red, -3px 0 0 0 transparent,
      0 -3px 0 0 transparent;
  }
  50% {
    box-shadow: 3px 0 0 0 transparent, 0 3px 0 0 transparent, -3px 0 0 0 red,
      0 -3px 0 0 transparent;
  }
  75% {
    box-shadow: 3px 0 0 0 transparent, 0 3px 0 0 transparent,
      -3px 0 0 0 transparent, 0 -3px 0 0 red;
  }
  100% {
    box-shadow: 3px 0 0 0 red, 0 3px 0 0 transparent, -3px 0 0 0 transparent,
      0 -3px 0 0 transparent;
  }
}
.bg-loader {
  background: rgb(11, 22, 30);
  background: linear-gradient(
    69deg,
    rgba(11, 22, 30, 0.8) 0%,
    rgba(41, 74, 103, 0.5) 9%,
    rgba(71, 126, 175, 0.5) 18%,
    rgba(28, 52, 74, 0.8) 30%,
    rgba(7, 11, 16, 0.8) 49%,
    rgba(24, 55, 91, 0.5) 59%,
    rgba(14, 46, 81, 0.5) 67%,
    rgba(16, 36, 57, 0.8) 75%,
    rgba(20, 45, 73, 0.5) 85%,
    rgba(7, 16, 23, 0.5) 96%
  );

  backdrop-filter: blur(5px);
}

/* .typewriter-text {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border-right: 2px solid #ffffff;
  animation: typing 4s steps(100, end) 1, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-right-color: #ffffff;
  }
  to {
    border-right-color: transparent;
  }
} */

/* .typewriter-text {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow: hidden;
  border-right: 2px solid #ffffff;
  width: 0;
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
} */

/* .typewriter-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  white-space: pre-wrap; 
  overflow: hidden;
  border-right: 2px solid #ffffff;
  width: 0;
  animation: typing 6s steps(50, end), blink 0.75s step-end infinite;
  line-height: 1.5; 
  max-width: 90%; 
  text-align: center; 
} */
/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-right-color: #ffffff;
  }
  to {
    border-right-color: transparent;
  }
} */
