@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mountains+of+Christmas:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.zoom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9 !important;
}
.text-grad {
  background: linear-gradient(0deg, #fcab31 0.3%, #ac6b13 84.31%, #9d5e0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.begin:hover {
  color: rgba(255, 255, 255, 0.911);
  scale: 90%;
}
main {
  background-image: linear-gradient(
      40deg,
      black,
      rgba(0, 0, 0, 0.753),
      rgba(0, 0, 0, 0.322),
      rgba(0, 0, 0, 0.753),
      black
    ),
    url(./assets/bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.44;
}
.playfair {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}
.combo {
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.button-bg {
  background: rgb(171, 30, 32);
  background: linear-gradient(
    180deg,
    rgba(171, 30, 32, 1) 0%,
    rgba(171, 30, 32, 1) 45%,
    rgba(171, 30, 32, 1) 55%,
    rgba(149, 26, 27, 1) 60%,
    rgba(149, 26, 27, 1) 77%
  );
}



.gift-hold {
  box-shadow: 0 0 0 5px transparent;
  animation:  moveBorder 3s linear infinite, rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    rotate: 0.8deg;
  }
  50%{
    rotate: -0.8deg;
  }
  100% {
    rotate: 0.8deg;
  }
}

@keyframes moveBorder {
  0% {
    box-shadow: 3px 0 0 0 gold, 0 3px 0 0 transparent, -3px 0 0 0 transparent,
      0 -3px 0 0 transparent;
  }
  25% {
    box-shadow: 3px 0 0 0 transparent, 0 3px 0 0 gold, -3px 0 0 0 transparent,
      0 -3px 0 0 transparent;
  }
  50% {
    box-shadow: 3px 0 0 0 transparent, 0 3px 0 0 transparent, -3px 0 0 0 gold,
      0 -3px 0 0 transparent;
  }
  75% {
    box-shadow: 3px 0 0 0 transparent, 0 3px 0 0 transparent,
      -3px 0 0 0 transparent, 0 -3px 0 0 gold;
  }
  100% {
    box-shadow: 3px 0 0 0 gold, 0 3px 0 0 transparent, -3px 0 0 0 transparent,
      0 -3px 0 0 transparent;
  }
}
