@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mountains+of+Christmas:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-grad {
  background: linear-gradient(0deg, #fcab31 0.3%, #ac6b13 84.31%, #9d5e0d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.begin:hover {
  color: rgba(255, 255, 255, 0.911);
  scale: 90%;
}
main {
  background-image: linear-gradient(
      40deg,
      black,
      rgba(0, 0, 0, 0.753),
      rgba(0, 0, 0, 0.322),
      rgba(0, 0, 0, 0.753),
      black
    ),
    url(./assets/bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.44;
}
.bg-night {
  background-color: linear-gradient(to bottom, #001f3f 0%, #000000 100%);
}
/*.action-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    246.77deg,
    rgba(0, 0, 0, 0.8) 6.58%,
    rgba(1, 1, 1, 0.68) 27.86%,
    rgba(2, 2, 2, 0.56) 49.13%,
    rgba(3, 3, 3, 0.68) 69.95%,
    rgba(4, 4, 4, 0.8) 90.77%
  );
} */
.playfair {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}
.combo {
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}
.button-bg {
  background: rgb(171, 30, 32);
  background: linear-gradient(
    180deg,
    rgba(171, 30, 32, 1) 0%,
    rgba(171, 30, 32, 1) 45%,
    rgba(171, 30, 32, 1) 55%,
    rgba(149, 26, 27, 1) 60%,
    rgba(149, 26, 27, 1) 77%
  );
}

.bg-loader {
  background: rgb(11, 22, 30);
  background: linear-gradient(
    69deg,
    rgba(11, 22, 30, 0.8) 0%,
    rgba(41, 74, 103, 0.5) 9%,
    rgba(71, 126, 175, 0.5) 18%,
    rgba(28, 52, 74, 0.8) 30%,
    rgba(7, 11, 16, 0.8) 49%,
    rgba(24, 55, 91, 0.5) 59%,
    rgba(14, 46, 81, 0.5) 67%,
    rgba(16, 36, 57, 0.8) 75%,
    rgba(20, 45, 73, 0.5) 85%,
    rgba(7, 16, 23, 0.5) 96%
  );

  backdrop-filter: blur(5px);
}
